---
import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";

import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";

const { image, title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <BaseHead title={title} description={description} image={image} />
    <HeadHrefLangs />
  </head>
  <body>
    <div class="drawer">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        <NavBar title={title} />
        <slot />
        <Footer />
      </div>
      <SideBar />
    </div>
  </body>
</html>
